body {
  font-family:sans-serif;
}


ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #33CAFF;
}

li.navitem {
  float: left;
}

li.navitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navitem a:hover {
  background-color: #33B0FF;
}

.active {
  background-color: #3370FF;
}
