html {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}
.w3-row-padding img {
    margin-bottom: 12px;
}
.w3-sidebar {
    width: 120px;background: #222;
}
#main {
    margin-left: 120px;
}
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
}

/* .hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
} */